.map-container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
    flex-grow: 1;
    overflow: hidden;
}

@media (min-width: 600px) {
    .map-container {
        max-height: 90vh;
        max-width: 500px;
        height: auto;
    }
}

.game-logo {
    max-width: 200px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px #ffd700);
}

.map-container h2 {
    margin-bottom: 20px;
}

.level-list {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 0;

    scrollbar-width: thin;
    scrollbar-color: #ff4500 #4b4b4b;
    padding-right: 10px;
}

.level-list::-webkit-scrollbar {
    width: 8px;
}

.level-list::-webkit-scrollbar-track {
    background: #4b4b4b;
    border-radius: 10px;
}

.level-list::-webkit-scrollbar-thumb {
    background-color: #ff4500;
    border-radius: 10px;
    border: 2px solid #4b4b4b;
}

.level-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff8c00, #ff4500);
    border: 3px solid #fff;
    color: #fff;
    font-family: 'BungeeSpice', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.level-btn:hover:not(:disabled) {
    transform: scale(1.1);
}

.level-btn.locked {
    background: #555;
    border-color: #888;
    cursor: not-allowed;
    filter: grayscale(100%);
}

@keyframes blink {
    0% {
        box-shadow: 0 0 15px rgba(255, 255, 0, 0.8), 0 0 5px rgba(255, 255, 0, 0.5);
        transform: scale(1.05);
        border-color: yellow;
    }

    50% {
        box-shadow: none;
        transform: scale(1.0);
        border-color: white;
    }

    100% {
        box-shadow: 0 0 15px rgba(255, 255, 0, 0.8), 0 0 5px rgba(255, 255, 0, 0.5);
        transform: scale(1.05);
        border-color: yellow;
    }
}

.level-btn.current-level-blinking {
    animation: blink 1.5s infinite alternate;
    border: 3px solid yellow;
}